.contact {
    width: 100vw;
    transform: translateZ(-100px);
    perspective: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: column;
    flex-direction: column;
    overflow: "hidden";
    height: 330vh;
    background-color: rgb(185, 149, 194);
    z-index: -100;


    .icon {
        width: 20vw;
        height: 20vh;
        cursor: pointer;
        z-index: 100;

        &::after{
            background-color: aqua;
        }
    }

    .icon::hover {
        background-color: aqua;

    }
}