.contact {
    width: 100vw;
    perspective: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: column;
    flex-direction: column;
    overflow: "hidden";
    height: 100vh;
    z-index: -100;
    color: white;

    background-image: url('./../images/universe_03.jpeg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    z-index: -100;
    transform-style: preserve-3d;
    perspective: 1000px;

    .download_resume {
        margin: 200px 0 70px 0;

        button {
            border: none;
            padding: 30px;
            font-size: 20px;
            cursor: pointer;
            border-radius: 20px;

            &:hover{
                opacity: 0.7;
            }
        }
    }

    .icon {
        width: 20vw;
        height: 20vh;
        cursor: pointer;
        z-index: 100;

        &::after{
            background-color: aqua;
        }
        &:hover{
            opacity: 0.7;
        }
    }


    .icons_container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 12%;

        p:last-child {
            display: flex;
            align-items: center;
            justify-items: center;
            flex-direction: column;
        }

        span {
            position: absolute;
            top: 770px;
            right: 255px;
            margin-top: 10px;
            font-weight: 500;
            font-size: 30px;
            width: 250px;
            height: 120px;
            text-align: center;
        }
    }
    
    @media (max-width: 400px) {
        width: 100%;
        height: 900px;

        .download_resume {
            margin: 150px 0 70px 0;

            button {
                border: none;
                padding: 30px;
                font-size: 50px;
                cursor: pointer;
                border-radius: 20px;

                &:hover{
                    opacity: 0.7;
                }
            }
        }


        .icons_container{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            p {
                width: 30%;
                font-size: 40px;
                margin-left: 40px;
            }

            p:last-child {
                width: 30%;
                font-size: 40px;
            }

            span {
                position: absolute;
                top: 600px;
                right: 10px;
                margin-top: 10px;
                font-weight: 500;
                font-size: 30px;
                width: 180px;
                height: 120px;
                text-align: center;
            }
        }
    }

    @media (max-width: 575px) {
        width: 100%;
        height: 900px;

        .download_resume {
            margin: 150px 0 70px 0;

            button {
                border: none;
                padding: 30px;
                font-size: 50px;
                cursor: pointer;
                border-radius: 20px;

                &:hover{
                    opacity: 0.7;
                }
            }
        }


        .icons_container{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            p {
                width: 30%;
                font-size: 40px;
                margin-left: 40px;
            }

            p:last-child {
                width: 30%;
                font-size: 40px;
            }

            span {
                position: absolute;
                top: 600px;
                right: 10px;
                margin-top: 10px;
                font-weight: 500;
                font-size: 30px;
                width: 180px;
                height: 120px;
                text-align: center;
            }
        }
    }


    @media (min-width: 575px) and (max-width: 900px) {
        width: 100%;
        height: 900px;

        .download_resume {
            margin: 150px 0 70px 0;

            button {
                border: none;
                padding: 30px;
                font-size: 50px;
                cursor: pointer;
                border-radius: 20px;

                &:hover{
                    opacity: 0.7;
                }
            }
        }


        .icons_container{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            p {
                width: 30%;
                font-size: 40px;
                margin-left: 40px;
            }

            p:last-child {
                width: 30%;
                font-size: 40px;
            }

            span {
                position: absolute;
                top: 600px;
                right: 40px;
                margin-top: 50px;
                font-weight: 500;
                font-size: 30px;
                width: 180px;
                height: 120px;
                text-align: center;
            }
        }
    }

    @media (min-width: 1200px) {
        width: 100%;
        height: 900px;

        .download_resume {
            margin: 150px 0 70px 0;

            button {
                border: none;
                padding: 30px;
                font-size: 50px;
                cursor: pointer;
                border-radius: 20px;

                &:hover{
                    opacity: 0.7;
                }
            }
        }


        .icons_container{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            p {
                width: 30%;
                font-size: 40px;
                margin-left: 40px;
            }

            p:last-child {
                width: 30%;
                font-size: 40px;
            }

            span {
                position: absolute;
                top: 600px;
                right: 70px;
                margin-top: 70px;
                font-weight: 500;
                font-size: 30px;
                width: 180px;
                height: 120px;
                text-align: center;
            }
        }
    }
}
