.contact {
    width: 100vw;
    perspective: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: column;
    flex-direction: column;
    overflow: "hidden";
    height: 100vh;
    z-index: -100;
    color: white;

    background-image: url('./../images/universe_03.jpeg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    z-index: -100;
    transform-style: preserve-3d;
    perspective: 1000px;

    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3%;

        h1{
            font-size: 30px;
            font-weight: 500;
            letter-spacing: 0.2em;
        }
    }


    .icon {
        width: 20vw;
        height: 20vh;
        cursor: pointer;
        z-index: 100;

        &::after{
            background-color: aqua;
        }
    }

    .icon::hover {
        background-color: aqua;

    }

    .icons_container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 12%;

        p:last-child {
            display: flex;
            align-items: center;
            justify-items: center;
            flex-direction: column;

            span{
                font-weight: 500;
                font-size: 17px;
            }
        }
    }
}