.education {
    width: 100vw;
    perspective: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: "hidden";
    height: 1000px;

    background-image: url('./../images/universe_02.jpeg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;

    h2 {
        margin-top: 1%;
        color: white;
        font-size: 60px;
        letter-spacing: 0.4em;
    }

    .description {
        display: flex;
        align-content: center;
        justify-content: space-between;
        color: white;
        width: 70%;

        .education_01,
        .education_02 {
            padding: 8%;
            border-radius: 30px;
            box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.2);
            background: linear-gradient(135deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.4) 100%);
            overflow: hidden;
            border: 1px solid rgba(255, 255, 255, 0.2);
            z-index: 1;
            position: relative;
            backdrop-filter: blur(12px);
            -webkit-backdrop-filter: blur(12px);
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: white;
            height:  60%;
            margin-top: 10%;


            .header {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin-bottom: 18%;
                font-weight: 700;

                h1 {
                    margin-bottom: 10px;
                    font-size: 40px;
                }

                p {
                    font-size: 30px;
                }
            }

            p {
                font-size: 28px;
                font-weight: 500;
            }
        }

    }
}


@media (max-width: 575px) {
    .education {
        width: 100%;
        height: 190vh;

        h2 {
            margin-bottom: 100px;
            font-size: 60px;
        }


        .description {
            display: flex;
            flex-direction: column;
    
            .education_01,
            .education_02 {
                .header {
                    h1 {
                        margin-bottom: 10px;
                        font-size: 50px;
                    }
    
                    p {
                        font-size: 50px;
                    }
                }
    
                p {
                    font-size: 38px;
                    font-weight: 500;
                }
            }
    
        }
    }

}

@media (max-width: 767px) {
    .education {
        width: 100%;
        height: 200vh;

        h2 {
            margin-bottom: 120px;
        }

        .description {
            display: flex;
            flex-direction: column;
        }
    }

}


@media (max-width: 991px) {
    .education {
        width: 100%;
        height: 200vh;

        h2 {
            margin-bottom: 200px;
        }

        .description {
            display: flex;
            flex-direction: column;
        }
    }

}





