.experience{
    width: 100vw;
    transform: translateZ(-100px);
    perspective: 500px;
    display: flex;
    align-items: center;
    justify-content: column;
    flex-direction: column;
    overflow: "hidden";
    height: 350vh;
    color: white;

  
    h1 {
      letter-spacing: 0.4em;
      font-size: var(--font-size-large);
    }
  
  
    .experiences_list{
      display: flex;
      justify-content: space-between;
      align-content: center;
      flex-direction: column;
      width: 48%;
    }
  
    .experience_01,
    .experience_02 {
      padding: 10%;
      border-radius: 20px;
      box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
      background: rgba(255, 255, 255, 0.1);
      overflow: hidden;
      border: none;
      z-index: 1;
      position: relative;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      transition: transform 0.3s ease;
      cursor: pointer;
      color: white;
      margin-top: 20%;
  
      &:hover {
        box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.6);
        border: 2px solid rgba(255, 255, 255, 0.5);
        transform: scale(1.1) rotate(2deg); // Add rotation and slightly increase the scaling
        transition: transform 0.5s ease, box-shadow 0.5s ease, border 0.5s ease; // Add transition for smooth effect
      }
    
      &::after {
        content: '';
        position: absolute;
        top: -4px;
        right: -4px;
        bottom: -4px;
        left: -4px;
        border-radius: 20px;
        background: linear-gradient(45deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
        z-index: -1;
      }
  
      &::before {
        content: '';
        position: absolute;
        top: -2px;
        right: -2px;
        bottom: -2px;
        left: -2px;
        border-radius: 20px;
        background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
        z-index: -1;
      }
    
      .header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;

        h2 {
          font-size: 40px;
        }

        span {
          margin-top: 4%;
        }

        h4 {
          margin-top: 4%;
          font-size: 26px;
        }
        
      }
  
      .image_box{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 12%;
      }
    
      ul{
        margin-top: 10%;
      }
      
      ul li{
        margin-top: 2%;
        font-size: var(--font-size-medium);
      }

    }
  
}


@media (max-width: 400px){
  .experience {
    display: flex;
    align-items: center;
    justify-content: column;
    flex-direction: column;
    height: 2700px;
    margin-top: 100px;
    width: 100%;

    h1 {
      font-size: 40px;
    }

    .experiences_list {
      margin-top: 150px;
      display: flex;
      justify-content: space-between;
      align-content: center;
      flex-direction: column;
      width: 70%;

      .experience_01,
      .experience_02{
        padding-left: 10%;

        .header {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          color: white;
  
          h2 {
            font-size: 50px;
          }
  
          span {
            margin-top: 4%;
          }
  
          h4 {
            margin-top: 4%;
            font-size: 35px;
          }

          span { 
            font-size: 22px;
          }
          
        }

        ul{
          margin-top: 10%;
        }
        
        ul li{
          margin-top: 10%;
          font-size: 30px;
        }
      }
    }
  }
}
  

@media (max-width: 390px){
  .experience {
    display: flex;
    align-items: center;
    justify-content: column;
    flex-direction: column;
    height: 2700px;
    margin-top: 400px;
    width: 100%;

    h1 {
      font-size: 60px;
    }

    .experiences_list {
      margin-top: 150px;
      display: flex;
      justify-content: space-between;
      align-content: center;
      flex-direction: column;
      width: 70%;

      .experience_01,
      .experience_02{
        padding-left: 10%;

        .header {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          color: white;
  
          h2 {
            font-size: 50px;
          }
  
          span {
            margin-top: 4%;
          }
  
          h4 {
            margin-top: 4%;
            font-size: 35px;
          }

          span { 
            font-size: 22px;
          }
          
        }

        ul{
          margin-top: 10%;
        }
        
        ul li{
          margin-top: 10%;
          font-size: 30px;
        }

      }
    }
  }
}
  




@media (max-width: 400px){
  .experience {
    display: flex;
    align-items: center;
    justify-content: column;
    flex-direction: column;
    height: 2700px;
    margin-top: 100px;
    width: 100%;

    h1 {
      font-size: 40px;
    }

    .experiences_list {
      margin-top: 150px;
      display: flex;
      justify-content: space-between;
      align-content: center;
      flex-direction: column;
      width: 70%;

      .experience_01,
      .experience_02{
        padding-left: 10%;

        .header {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          color: white;
  
          h2 {
            font-size: 50px;
          }
  
          span {
            margin-top: 4%;
          }
  
          h4 {
            margin-top: 4%;
            font-size: 35px;
          }

          span { 
            font-size: 22px;
          }
          
        }

        ul{
          margin-top: 10%;
        }
        
        ul li{
          margin-top: 10%;
          font-size: 30px;
        }
      }
    }
  }
}
  

@media (max-width: 575px){
  .experience {
    display: flex;
    align-items: center;
    justify-content: column;
    flex-direction: column;
    height: 2700px;
    margin-top: 400px;
    width: 100%;

    h1 {
      font-size: 60px;
    }

    .experiences_list {
      margin-top: 150px;
      display: flex;
      justify-content: space-between;
      align-content: center;
      flex-direction: column;
      width: 70%;

      .experience_01,
      .experience_02{
        padding-left: 10%;

        .header {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          color: white;
  
          h2 {
            font-size: 50px;
          }
  
          span {
            margin-top: 4%;
          }
  
          h4 {
            margin-top: 4%;
            font-size: 35px;
          }

          span { 
            font-size: 22px;
          }
          
        }

        ul{
          margin-top: 10%;
        }
        
        ul li{
          margin-top: 10%;
          font-size: 30px;
        }

      }
    }
  }
}
  
