* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Blinker', sans-serif;
  font-family: 'Quicksand', sans-serif;
}

:root {
  --font-size-500-small: 25px;
  --font-size-500-medium: 35px;
  --font-size-500-large: 60px;
  --font-size-500-super-large: 70px;
}
