@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Blinker:wght@200&family=Quicksand:wght@300&display=swap');

.header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-left: 7%;
  padding-right: 7%;
  background-color: transparent;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  z-index: 1000;

  .logo_box {
    font-family: 'Black Ops One', cursive;
    font-family: 'Blinker', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-size: var(--font-size-large);
    font-weight: 500;

    a {
      text-decoration: none;
      color: white;
    }
  }


  .nav {
    display: flex;
    justify-content: center;
    align-items: center;


    .nav_list_full {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      font-size: var(--font-size-medium);

      .nav_item {
        margin: 0 33px;
        cursor: pointer !important;          

        a {
          color: white;
          text-decoration: none;
          padding: 10px;
          border-radius: 20px;

          &:hover {
            opacity: 0.7;
          }
          
        }
      }
    }
  }
}


@media (max-width: 400px) {
  .header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;

    .logo_box {
      margin-top: 150px;
      margin-left: 50px;
      font-size: 50px;
      font-weight: 500;
      
      a {
        text-decoration: none;
        color: white;
      }
    }

    .nav {
      position: absolute;

      .faBars {
        position: absolute;
        top: 0px;
        left: 0px;
        cursor: pointer;
        font-size: 70px;
      }

      .faBars_open {
        position: relative;
        margin-top: 180px;
        margin-left: 360px;
        color: white;
        left: 30px;
        cursor: pointer;
        font-size: 70px;
      }

      .nav_list_hidden {
        display: none;
      }
  
      .nav_list {
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        height: 100px;
        margin-top: 640px;
        width: 100%;
        margin-left: 20px;

        .nav_item {    
          width: 80%;
          margin-top: 45px;
  
          a {
            border-radius: 20px;
            font-size: 50px;
          }
        }
      }
    }

  }
}


@media (max-width: 575px) {
  .header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;

    .logo_box {
      margin-top: 60px;
      margin-left: 30px;
      font-size: 50px;
      font-weight: 500;
      
      a {
        text-decoration: none;
        color: white;
      }
    }

    .nav {
      position: absolute;

      .faBars {
        position: absolute;
        top: 20px;
        left: 760px;
        cursor: pointer;
        font-size: 40px;
        color: white;
      }

      .faBars_open {
        position: relative;
        margin-top: 90px;
        margin-left: 480px;
        color: white;
        left: 30px;
        cursor: pointer;
        font-size: 40px;
      }

      .nav_list_hidden {
        display: none;
      }
  
      .nav_list {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        height: 100px;
        margin-top: 450px;
        width: 100%;
        margin-left: 30px;

        .nav_item {    
          width: 100%;
          margin-top: 25px;
  
          a {
            border-radius: 20px;
            font-size: 40px;
          }
        }
      }
    }

  }

}



@media (min-width: 1200px)  {
  .faBars {
    color: transparent !important;
  }

}
