@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Blinker:wght@200&family=Quicksand:wght@300&display=swap');

.header {
  width: 100%;
  height: 70px;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-left: 7%;
  padding-right: 7%;
  z-index: 100;
  background-color: transparent;
  position: sticky;
  box-sizing: border-box;
  top: 0;


  .logo_box{
    font-family: 'Black Ops One', cursive;
    font-family: 'Blinker', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-size: var(--font-size-large);
    font-weight: 500;
  }


  .nav {
    display: flex;
    justify-content: center;
    align-items: center;

    .nav_list {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      font-size: var(--font-size-medium);

      .nav_item {
        margin: 0 33px;
        cursor: pointer !important;          

        a{
          color: white;
          text-decoration: none;
          padding: 10px;
          border-radius: 20px;

          &:hover{
            opacity: 0.7;
          }
          
        }
      }
    }
  }
}