.background_image_container{
  background-image: url('./../images/universe_01.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  z-index: -100;
  transform-style: preserve-3d;
  perspective: 2000px;
  animation: animate 10s linear infinite;
  height: auto;  
  animation-direction: alternate;
  animation-iteration-count: infinite;
  margin-top: -90px;
  width: 100%;
}


@keyframes animate {
  0% {
    background-position: 100px;
  } 
  50% {
    background-position: 0px;
  }
  100% {
    background-position: 100px;
  }
}


.about {
  width: 100vw;
  transform: translateZ(-100px);
  perspective: 500px;
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: column;
  flex-direction: column;
  overflow: "hidden";
  height: 300vh; 

  .intro_container {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    height: 30%;

    .intro_box {
      margin-top: 25%;
      display: flex;
      align-content: center;
      flex-direction: row;
      justify-content: center;
      color: rgb(255, 252, 252);
      height: 200px;
      text-align: center;
  
      .intro_text {
        display: flex;
        align-content: center;
        flex-direction: column;
        justify-content: center;
  
      }
  
      .astronaut_img {
        position: relative;
        z-index: -100;
        width: 300px;
  
        @media (min-width: 901px) {
          width: 300px;
          height: 300px;
  
        }
      
        @media (max-width: 900px) {
          width: 220px;
          margin-left: 150px;
        }
      
        @media (max-width: 575px) {
          width: 230px;
        }
      
        @media (max-width: 400px) {
          width: 190px;
        }

        @media (min-width: 902px) and (max-width: 1449px) {
          width: 220px;

        }
      }
  
      .name {
        font-size: 40px;
        width: 100%;
      }
  
      .astronaut_visible {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
      }
    }

    .description {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      flex-direction: row;
      width: 100%;
      height: 10%;
  
      .full_stack {
        font-size: 25px;
        letter-spacing: 5px;
      }
    }

  }

  .comet_box {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }


  .about_me {
    margin-top: 10000px;
    height: 600vh;
    font-size: var(--font-size-large);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .intro {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      line-height: 66px;
      letter-spacing: 0.2em;
      color: rgb(255, 255, 255);
    }
  }
}



.experience{
  margin-top: 60px;
  width: 100vw;
  transform: translateZ(-100px);
  perspective: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: column;
  flex-direction: column;
  overflow: "hidden";
  height: 360vh;

  h2 {
    letter-spacing: 0.4em;
    font-size: var(--font-size-large);
    color: white;
  }


  .experiences_list{
    display: grid;
    list-style-type: none;
    grid-template-columns: 1.2fr;
    grid-gap: 5.5em;
    margin-left: 25%;  
    margin-right: 25%;
    margin-top: 6%;
  }

  .experience_01,
  .experience_02 {
    padding: 10%;
    border-radius: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    border: none;
    z-index: 1;
    position: relative;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: transform 0.3s ease;
    cursor: pointer;


    &:hover {
      box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.6);
      border: 2px solid rgba(255, 255, 255, 0.5);
      transform: scale(1.1) rotate(2deg); // Add rotation and slightly increase the scaling
      transition: transform 0.5s ease, box-shadow 0.5s ease, border 0.5s ease; // Add transition for smooth effect
    }
  
    &::after {
      content: '';
      position: absolute;
      top: -4px;
      right: -4px;
      bottom: -4px;
      left: -4px;
      border-radius: 20px;
      background: linear-gradient(45deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
      z-index: -1;
    }

    &::before {
      content: '';
      position: absolute;
      top: -2px;
      right: -2px;
      bottom: -2px;
      left: -2px;
      border-radius: 20px;
      background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
      z-index: -1;
    }
  
    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: white;
    }

    .image_box{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 12%;
    }
  
    ul{
      margin-top: 10%;
    }
    
    ul li{
      list-style: none;
      margin-top: 2%;
    }
  
    ul li::before {
      content: attr(data-icon);
      font-size: 1.25em;
      margin-right: 1%;
    }
  }

  
}


.skills {
  margin-top: 60px;
  width: 100vw;
  transform: translateZ(-100px);
  perspective: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: column;
  flex-direction: column;
  overflow: "hidden";
  height: 380vh;
  cursor: pointer;


  h2{
    font-size: 30px;
    letter-spacing: 0.4em;
    color: white;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    position: relative;
    overflow: hidden;
    color: white;
  }
  
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    background-size: 200% 100% 200%;
    animation: shining 12s infinite;
  }
  
  @keyframes shining {
    0% {
      background-position: 200% 0;
    }
    50% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }


  .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 40vw;
    margin-top: 20%;
    color: white;

    .glass_image {
      padding: 2%;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
      border-radius: 10px;
      position: relative;
      z-index: 1;
      background: inherit;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        background: inherit;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
        filter: blur(10px);
        margin: -20px;
      }

      &::hover {
        transform: perspective(3000px) rotateY(5deg);
      }
    }
    
  }
}

@keyframes animateAround {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.projects{
  margin-top: 60px;
  width: 100vw;
  transform: translateZ(-100px);
  perspective: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: column;
  flex-direction: column;
  overflow: "hidden";
  height: 330vh;
  background-color: rgb(102, 77, 56);
  z-index: -100;

  .drip {
    position: absolute;
    top: -47px;
    left: 0;
    right: 0;
    height: 50px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none' fill='%236B4C35'%3E%3Cpath d='M0,0 Q25,40 50,0 Q75,40 100,0 L100,100 L0,100 Z'/%3E%3C/svg%3E");
    background-size: cover;
  }


}


.black_hole {
  position: relative;
  top: 600px;
  left: 62%;
  z-index: 100;
}


@media (max-width: 400px) {
  .background_image_container {
    background-image: url('./../images/universe_01.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    z-index: -100;
    transform-style: preserve-3d;
    perspective: 2000px;
    animation: animate 10s linear infinite;
    height: 19200px;  
    animation-direction: alternate;
    animation-iteration-count: infinite;
    margin-top: -90px;
    width: 910px;
    min-width: 100vw;
  }

  .topics_container {
    width: 900px;

    .about {
      width: 100%;
      height: 4000px;
      display: flex;

      .intro_container {
        display: flex;
        align-content: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 20%;

        .description {
          margin-left: 5%;
        }
    
        .intro_box {
          display: flex;
          align-content: center;
          flex-direction: row;
          justify-content: center;
          color: rgb(255, 252, 252);
          height: 400px;
          text-align: center;   
      
          .intro_text {
            display: flex;
            align-content: center;
            flex-direction: column;
            justify-content: center;
            color: white;

            .name {
              width: 130%;
            }
          }

        }

      }
      


      .about_me {
        margin-top: 2200px;
        height: 1100vh;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
  
        .intro {
          display: flex;
          justify-content: center;
          align-content: center;
          flex-direction: column;
          text-align: center;
          line-height: 66px;
          letter-spacing: 0.2em;
          color: rgb(255, 255, 255);
          width: 60%;
        }
      }

    }
  }

  .black_hole {
    position: relative;
    top: 80px;
    left: 50%;
    width: 100px;
    height: 50px;

    .black_hole_img{
      width: 380px;
      height: 200px;
    }
  }
}




@media (max-width: 575px) {
  .background_image_container {
    background-image: url('./../images/universe_01.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    z-index: -100;
    transform-style: preserve-3d;
    perspective: 2000px;
    animation: animate 10s linear infinite;
    height: 15200px;  
    animation-direction: alternate;
    animation-iteration-count: infinite;
    margin-top: -90px;
    width: 1100px;
    min-width: 100vw;
  }

  .topics_container {
    width: 1100px;

    .about {
      width: 100%;
      height: 3500px;

      .intro_container {

        display: flex;
        align-content: center;
        flex-direction: column;
        justify-content: center;
        height: 50%;
        margin-top: 50%;

        .description {
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          margin-top: -40px;
          margin-left: 5%;
      
          .full_stack {
            font-size: 40px;
            letter-spacing: 5px;
          }
        } 
    
        .intro_box {
          display: flex;
          align-content: center;
          flex-direction: row;
          justify-content: center;
          color: rgb(255, 252, 252);
          height: 400px;
          text-align: center; 
          width: 80%;

          .description {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;

        
            .full_stack {
              font-size: 40px;
              letter-spacing: 5px;
            }
          } 
      
          .intro_text {
            display: flex;
            align-content: center;
            flex-direction: column;
            justify-content: center;
            color: white;

            .name {
              width: 150%;
              font-size: 60px;
            }
          }

        }
      }

      .about_me {
        margin-top: 700px;
        height: 700vh;
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
  
        .intro {
          display: flex;
          justify-content: center;
          align-content: center;
          flex-direction: column;
          text-align: center;
          line-height: 66px;
          letter-spacing: 0.2em;
          color: rgb(255, 255, 255);
          width: 65%;
        }
      }

    }
  }

  .black_hole {
    position: relative;
    top: 80px;
    left: 60%;
    width: 100px;
    height: 50px;

    .black_hole_img{
      width: 380px;
      height: 200px;
    }
  }
}



@media (min-width: 575px) and (max-width: 900px) {
  .background_image_container {
    background-image: url('./../images/universe_01.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    z-index: -100;
    transform-style: preserve-3d;
    perspective: 2000px;
    animation: animate 10s linear infinite;
    height: 12200px;  
    animation-direction: alternate;
    animation-iteration-count: infinite;
    margin-top: -90px;
    width: 1200px;
    min-width: 100vw;
  }

  .topics_container {
    width: 1100px;

    .about {
      width: 100%;
      height: 3500px;

      .intro_container {
        display: flex;
        align-content: center;
        flex-direction: column;
        justify-content: center;
        height: 50%;
        margin-top: 20%;
        width: 60%;

        .description {
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          margin-top: -40px;
      
          .full_stack {
            font-size: 40px;
            letter-spacing: 5px;
          }
        } 
    
        .intro_box {
          display: flex;
          align-content: center;
          flex-direction: row;
          justify-content: center;
          color: rgb(255, 252, 252);
          height: 400px;
          text-align: center; 
          width: 100%;

          .description {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
        
            .full_stack {
              font-size: 40px;
              letter-spacing: 5px;
            }
          } 
      
          .intro_text {
            display: flex;
            align-content: center;
            flex-direction: column;
            justify-content: center;
            color: white;

            .name {
              width: 120%;
              font-size: 60px;
            }
          }

        }
      }

      .about_me {
        margin-top: 600px;
        height: 700vh;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
  
        .intro {
          display: flex;
          justify-content: center;
          align-content: center;
          flex-direction: column;
          text-align: center;
          line-height: 66px;
          letter-spacing: 0.2em;
          color: rgb(255, 255, 255);
          width: 65%;
        }
      }

    }
  }

  .black_hole {
    position: relative;
    top: 50px;
    left: 65%;
    width: 100px;
    height: 50px;

    .black_hole_img{
      width: 420px;
      height: 200px;
    }
  }
}

@media (min-width: 902px) and (max-width: 1449px) {
  //to-do
}

@media (min-width: 902px) and (max-width: 1449px)  {
  .background_image_container {
    background-image: url('./../images/universe_01.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    z-index: -100;
    transform-style: preserve-3d;
    perspective: 2000px;
    animation: animate 10s linear infinite;
    height: 12800px;  
    animation-direction: alternate;
    animation-iteration-count: infinite;
    margin-top: -90px;
    width: 100%;     

  }

  .topics_container {
    width: 100%;  

    .about {
      width: 100vw; 
      min-width: 902px;
      height: 2500px;
      display: flex;
      align-content: center;
      flex-direction: column;
      justify-content: center;

      .intro_container {
        display: flex;
        align-content: center;
        flex-direction: column;
        justify-content: center;
        height: 500px;
        margin-top: 10%;
        width: 80%;


        .description {
          display: flex;
          align-content: center;
          justify-content: center;
          color: white;
          width: 110%;
      
          .full_stack {
            font-size: 40px;
            letter-spacing: 5px;
            margin-right: 100px;
          }
        } 
    
        .intro_box {
          display: flex;
          align-content: center;
          flex-direction: row;
          justify-content: center;
          color: rgb(255, 252, 252);
          height: 400px;
          text-align: center; 
          width: 90%;
      
          .intro_text {
            display: flex;
            align-content: center;
            flex-direction: column;
            justify-content: center;
            color: white;
            margin-right: 100px;

            .name {
              width: 100%;
              font-size: 60px;
            }
          }

        }
      }

      .about_me {
        margin-top: 600px;
        height: 700vh;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
  
        .intro {
          display: flex;
          justify-content: center;
          align-content: center;
          flex-direction: column;
          text-align: center;
          line-height: 66px;
          letter-spacing: 0.2em;
          color: rgb(255, 255, 255);
          width: 65%;
        }
      }

    }
  }

  .black_hole {
    position: relative;
    top: 50px;
    left: 65%;
    width: 100px;
    height: 50px;

    .black_hole_img{
      width: 420px;
      height: 200px;
    }
  }
}





@media (min-width: 1450px) and (max-width: 2000px)   {
  .background_image_container {
    background-image: url('./../images/universe_01.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    z-index: -100;
    transform-style: preserve-3d;
    perspective: 2000px;
    animation: animate 10s linear infinite;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    margin-top: -90px;
    width: 1449px;
    min-width: 100vw;
  }

  .topics_container {
    width: 1449px;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .about {
      width: 100%;

      .intro_container {
        
        .intro_box {
          margin-top: 400px;
          width: 50vw;
          height: 20vh;
          margin-right: 100px;
  
          .name {
            font-size: 70px;
          }

        }
        .description {
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          margin-top: 10%;
          margin-left: 5%;
      
          .full_stack {
            font-size: 40px;
            letter-spacing: 5px;
          }
        }
      }
  

      .about_me {
        margin-top: 900px;
        height: 700vh;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
  
        .intro {
          display: flex;
          justify-content: center;
          align-content: center;
          flex-direction: column;
          text-align: center;
          line-height: 66px;
          letter-spacing: 0.2em;
          color: rgb(255, 255, 255);
          width: 60%;
          font-size: 40px;
        }
      }

    }
  }

  .black_hole {
    position: relative;
    top: 60px;
    left: 180%;
    width: 100px;
    height: 50px;

    .black_hole_img{
      width: 440px;
      height: 200px;
    }
  }
}



@media (min-width: 2001px) {
  .background_image_container {
    background-image: url('./../images/universe_01.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    z-index: -100;
    transform-style: preserve-3d;
    perspective: 2000px;
    animation: animate 10s linear infinite;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    margin-top: -90px;
    width: 1449px;
    min-width: 100vw;
  }

  .topics_container {
    width: 1449px;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .about {
      width: 100%;
  
      .intro_box {
        margin-top: 400px;
        width: 50vw;
        height: 20vh;
        margin-right: 100px;
        background-color: rgb(13, 81, 238);

        .name {
          font-size: 70px;
        }
      }

      .description {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        margin-right: 10%;
        margin-top: 10%;
    
        .full_stack {
          font-size: 40px;
          letter-spacing: 5px;
        }
      }

      .about_me {
        margin-top: 900px;
        height: 700vh;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
  
        .intro {
          display: flex;
          justify-content: center;
          align-content: center;
          flex-direction: column;
          text-align: center;
          line-height: 66px;
          letter-spacing: 0.2em;
          color: rgb(255, 255, 255);
          width: 60%;
        }
      }

    }
  }

  .black_hole {
    position: relative;
    top: 60px;
    left: 180%;
    width: 100px;
    height: 50px;

    .black_hole_img{
      width: 440px;
      height: 200px;
    }
  }
}