
.projects{
    width: 100vw;
    transform: translateZ(-100px);
    perspective: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: column;
    flex-direction: column;
    overflow: "hidden";
    height: 330vh;
    background-color: rgb(102, 77, 56);
    z-index: -100;
    margin-top: -90px;

    .drip {
        position: absolute;
        top: -47px;
        left: 0;
        right: 0;
        height: 50px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none' fill='%236B4C35'%3E%3Cpath d='M0,0 Q25,40 50,0 Q75,40 100,0 L100,100 L0,100 Z'/%3E%3C/svg%3E");
        background-size: cover;
    }

    
}