
.skills {
    width: 100vw;
    transform: translateZ(-100px);
    perspective: 1000px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: column;
    flex-direction: column;
    overflow: "hidden";
    cursor: pointer;
    z-index: -100;
    margin-top: 400px;
    height: 400vh;
  
  
    h1{
      font-size: var(--font-size-large);
      letter-spacing: 0.4em;
      color: white;
    }

    h2 {
      font-size: var(--font-size-large);
      letter-spacing: 0.4em;
      color: white;
    }
  
    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20%;
      position: relative;
      overflow: hidden;
      color: white;
    }
    
    .header::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.7) 50%,
        rgba(255, 255, 255, 0) 100%
      );
      background-size: 200% 100% 200%;
      animation: shining 12s infinite;
    }
    
    @keyframes shining {
      0% {
        background-position: 200% 0;
      }
      50% {
        background-position: -200% 0;
      }
      100% {
        background-position: 200% 0;
      }
    }
  
  
    .icons {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      width: 40vw;
      margin-top: 20%;
      color: white;
  
      .glass_image {
        padding: 2%;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2); 
        border-radius: 10px;
        position: relative;
        z-index: 1;
        background: inherit;
        overflow: hidden;
        background: rgba(243, 241, 241, 0.1);
        margin-left: 2px;
        margin-top: 30px;


  
        &::before {
          content: "";
          position: absolute;
          background: inherit;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          box-shadow: inset 0 0 20000px rgba(255, 255, 255, 0.8);
          filter: blur(10px);
          margin: -20px;
        }
  
      }
  
  
    }
}
  
@keyframes animateAround {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@media (max-width: 400px) {
  .skills {
    width: 100%;
    height: 1600px;
    transform: translateZ(-100px);
    perspective: 1000px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: column;
    flex-direction: column;
    overflow: "hidden";
    cursor: pointer;
    z-index: -100;
    margin-top: 1800px;
    height: 400vh;

    h1 {
      font-size: 50px;
    }

    .header {
      margin-top: 20%;

    }

    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 600px;
      margin-top: 10%;

      .glass_image {
        margin-top: 8%;
        margin-right: 50px;
      }
    
    }
  }
}



@media (max-width: 575px) {
  .skills {
    width: 100%;
    height: 1260px;
    transform: translateZ(-100px);
    perspective: 1000px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: column;
    flex-direction: column;
    overflow: "hidden";
    cursor: pointer;
    z-index: -100;
    margin-top: 1800px;
    height: 400vh;

    h1 {
      font-size: 40px;
    }

    .header {
      margin-top: 20%;

    }

    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 600px;
      margin-top: 10%;

      .glass_image {
        margin-top: 8%;
        margin-right: 50px;
      }
    
    }
  }
}



@media (min-width: 575px) and (max-width: 900px) {
  .skills {
    width: 1200px;
    transform: translateZ(-100px);
    perspective: 1000px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: column;
    flex-direction: column;
    overflow: "hidden";
    z-index: -100;
    margin-top: 200px;
    height: 260vh;

    h1 {
      font-size: 50px;
    }

    .header {
      margin-top: 20%;

    }

    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 600px;
      margin-top: 10%;

      .glass_image {
        margin-top: 8%;
        margin-right: 50px;
      }
    
    }
  }
}


@media (min-width: 901px) and (max-width: 1200px){
  .skills {
    width: 100%; 
    height: 100%;
    transform: translateZ(-100px);
    perspective: 1000px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: column;
    flex-direction: column;
    overflow: "hidden";
    cursor: pointer;
    z-index: -100;
    margin-top: -220px;
    height: 250vh;

    h1 {
      font-size: 40px;
    }

    .header {
      margin-top: 20%;

    }

    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 600px;
      margin-top: 10%;

      .glass_image {
        margin-top: 8%;
        margin-right: 50px;
      }
    
    }
  }
}

@media (min-width: 1201px) and (max-width: 1449px) {
  .skills {
    width: 100vw;
    height: 1260px;
    transform: translateZ(-100px);
    perspective: 1000px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: column;
    flex-direction: column;
    overflow: "hidden";
    cursor: pointer;
    z-index: -100;
    margin-top: 120px;
    height: 380vh;

    h1 {
      font-size: 40px;
    }

    .header {
      margin-top: 20%;

    }

    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 600px;
      margin-top: 10%;

      .glass_image {
        margin-top: 8%;
        margin-right: 50px;
      }
    
    }
  }
}


@media (min-width: 1450px) and (max-width: 2000px){
  .skills {
    width: 1200px;
    transform: translateZ(-100px);
    perspective: 1000px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: column;
    flex-direction: column;
    overflow: "hidden";
    cursor: pointer;
    z-index: -100;
    margin-top: 500px;
    height: 320vh;

    h1 {
      font-size: 40px;
    }

    .header {
      margin-top: 20%;

    }

    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 600px;
      margin-top: 10%;

      .glass_image {
        margin-top: 8%;
        margin-right: 50px;
      }
    
    }
  }
}

